<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ipapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity android:name=".ui.institutions.AddNewRoleActivity"></activity>
        <activity android:name=".ui.institutions.CreateInstitutionActivity" />
        <activity android:name=".ui.institutions.SelectedInstitutionActivity" />
        <activity android:name=".ui.documents.SelectedDocumentActivity" />
        <activity android:name=".ui.documents.CreateDocumentActivity" />
        <activity android:name=".ui.institutions.AddMemberActivity" />
        <activity android:name=".ui.institutions.RemoveMemberActivity" />
        <activity android:name=".ui.institutions.DeleteInstitutionActivity"/>
        <activity
            android:name=".ui.account.LoginActivity"
            android:label="@string/title_activity_home">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".ui.account.ModifyAccountActivity" />
        <activity android:name=".ui.institutions.ModifyInstitutionRolesActivity" />
        <activity android:name=".ui.account.RegisterActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>